{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "eslint-plugin-import",
    "unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["src/script/**/*.ts", "src/**/_*.ts", "src/examples/**/*"],
  "rules": {
    "no-console": "error",
    "no-constant-condition": "off",
    "prettier/prettier": 0, // error
    "no-async-promise-executor": "off",
    "no-empty-pattern": "off",
    "no-inner-declarations": "off",
    "no-dupe-keys": 0,
    "no-empty": "off",
    "import/no-duplicates": "error",
    "prefer-const": "off",
    "prefer-rest-params": "off",
    "no-useless-catch": "off",
    "no-prototype-builtins": "off",
    "no-misleading-character-class": "off",
    "no-self-assign": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "unused-imports/no-unused-imports": "error"
  }
}
