.git

node_modules

.DS_Store

.vscode

report.*.json

_*

stderr.log

stdout.log

lib/**/*

build/**/*

dist/**/*

yarn-error.log

.env

public/index.js
public/sw.js

public/index.js.map
public/sw.js.map

src/client/static/js/index.js.ts

src/client/extension/src/background.js
src/client/extension/src/content.js
src/client/extension/src/popup.js
src/client/extension/src/options.js

package-lock.json
yarn.lock
