name: test
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16.13.1]
    steps:
      - uses: actions/checkout@v2
      - name: npm i
        run: npm i
      - name: npm run setup
        run: npm run setup
      - name: npm run test
        run: npm run test
